$main-light-gray: #E8E8E8;
$main-white: #F6F6F6;
$main-dark: #0F0E0E;
$main-purple: #A11BA4;
$main-blue: #0D074B;
$secondary-purple: #640F66;
$main-brown: #2A1120;

$main-transform-planet: scale(1.2);
$main-transition-planet: all 0.1s ease-in-out;