*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,400;0,600;0,700;0,800;1,400&display=swap');

$transition : all .5s ease-in-out;

.container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.planete{
    &#soleil{
        background-image: url("/assets/card/soleil.svg");
    }
    &#mercure{
        background-image: url("/assets/card/mercure.svg");
    }
    &#terre{
        background-image: url("/assets/card/terre_lune.svg");
    }
    &#jupiter{
        background-image: url("/assets/card/jupiter.svg");
    }
    &#mars{
        background-image: url("/assets/card/mars.svg");
    }
    &#neptune{
        background-image: url("/assets/card/neptune.svg");
    }
    &#saturne{
        background-image: url("/assets/card/saturne.svg");
    }
    &#uranus{
        background-image: url("/assets/card/uranus.svg");
    }
    &#venus{
        background-image: url("/assets/card/venus.svg");
        
    }
}

a{
    &:hover{
        cursor: pointer;
    }
}

.cards{
    background-color: $main-blue;
    
}

.cards-container{
    background: linear-gradient(180deg, #7F56CC 0%, rgba(13, 7, 75, 0) 25.86%, #342D8C 100%);
}

.card{
    background-image: url('./assets/card/bg.png');
    background-size: cover;
    height: 500px;
    max-width: 400px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    transition: $transition;

    & .information{ 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 150%;
        transform: translate(-50%, -50%);
        transition: $transition;
        color: $main-white;
        gap: 2rem;
        width: 100%;

        & a{
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
    }
    
    & .btn{
        text-decoration: none;
        color : $main-white;
        background-color : $main-purple;
        padding: 1rem 1.5rem;
        border-radius: .5rem;
        transition: $transition;
        
        &:hover{
            background-color: darken($main-purple, 20%);
        }
    }
    
    & .astronaute{
        position: absolute;
        bottom: 0%;
        left: 0%;
        transition: $transition;
        background-image: url("./assets/card/astronaute.png");
        background-size: cover;
        width: 100px;
        height: 100px;
    }

    & .titre{
        display: flex;
        align-items:center;
        justify-content: center;
        color: $main-white;
        font-size: 1.5rem;
        transition: $transition;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    & .planete{
        top: 0;
        right: 0;
        position: absolute;
        transform: translate(50%, -50%) rotate(-45deg);
        height: 200px;
        width: 200px;
        background-image: url("./assets/card/soleil.svg");
        background-size: cover;
        transition: $transition;
    }

    & .description{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
    }

    & .description-line{
        display: flex;
        align-items: flex-end;
        gap: 1rem;
    }

    & .numerals{
        font-size: 1.2rem;
    }

    & .arrow{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0)rotate(-90deg);
        transition: $transition;

        & img{
            width: 50px;
        }
    }

    &:hover{
        & .planete{
            top: 25%;
            right: auto;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%) rotate(0deg);
            height: 250px;
            width: 250px;
        }

        & .titre{
            font-size: 2rem;
        }

        & .information{
            position: absolute;
            left: 50%;
            top: 80%;
            transform: translate(-50%, -50%);

            & a{
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }
        }

        & .astronaute{
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, -10%) rotate(0deg);
            width: 200px;
            height: 200px;
        }

        & .arrow{
            bottom: 5%;
            left: 100%;
            transform: rotate(0deg);
        }
    }
}

.cta{
    color : $main-white;
    max-width: 500px ;
    margin : 0 auto;

    & button{
        padding : .2rem .5rem;
    }
}

.cta-container{
    display: flex;
    justify-content: space-between;

    & .left{
        display: flex;
        justify-content : flex-start;
    }

    & .center{
        display: flex;
        justify-content : center;
    }       

    & .right{
        display: flex;
        justify-content : flex-end;
    }
}

@media screen and (min-width:1024px){
    .main-col{
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 769px){
    .card{
        flex : 0 0 auto;
        width: calc(100%/3 - 1rem);
        padding: 1rem;
        margin : .5rem;

        & .numerals{
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 768px){
    .card{
        flex : 0 0 auto;
        padding: 1rem;
        margin : .5rem;
        width: calc(50% - 1rem);
    }
}


@media screen and (max-width: 450px){
    .card{
        flex : 0 0 auto;
        width: calc(100% - 1rem);
        padding: 1rem;
        margin : .5rem;
        & .description-line{
            gap:.3rem;
        }
    }
}


